/devtools/bin/
/build/
/.venv-docs/

__pycache__/
.claude/*.local.*

# ESPS build artifacts
*.o
*.a
*.dSYM/
*.BAK
ESPS/general/ESPS_BASE
ESPS/general/esps_plot
ESPS/general/src/lib/pflexan.c
ESPS/general/src/lib/pfparser.c
ESPS/general/src/lib_header/ers/
ESPS/general/src/lib_header/esps/
ESPS/general/src/lib_header/waves/
ESPS/general/src/lib_header/sphere2.6/src/bin/h_add
ESPS/general/src/lib_header/sphere2.6/src/bin/h_delete
ESPS/general/src/lib_header/sphere2.6/src/bin/h_edit
ESPS/general/src/lib_header/sphere2.6/src/bin/h_read
ESPS/general/src/lib_header/sphere2.6/src/bin/h_strip
ESPS/general/src/lib_header/sphere2.6/src/bin/h_test
ESPS/general/src/lib_header/sphere2.6/src/bin/tsphere
ESPS/general/src/lib_header/sphere2.6/src/bin/w_decode
ESPS/general/src/lib_header/sphere2.6/src/bin/w_diff
ESPS/general/src/lib_header/sphere2.6/src/bin/w_edit
ESPS/general/src/lib_header/sphere2.6/src/bin/w_encode
ESPS/general/src/larcbk2rc/larcbk2rc
ESPS/general/src/lpcsynt/lpcsynt
ESPS/general/src/make_sd/make_sd
ESPS/general/src/misc/echeck
ESPS/general/src/misc/elpr
ESPS/general/src/misc/eman
ESPS/general/src/misc/espsenv
ESPS/general/src/misc/featype
ESPS/general/src/misc/pspsdiff
ESPS/general/src/plotfield/plotfield
ESPS/general/src/plotsgram/plotsgram
ESPS/general/src/ps2frame/ps2frame
